@font-face {
  font-family: 'springville';
  src: url("./fonts/Springville-Regular3.otf"); }

@font-face {
  font-family: 'carlson';
  src: url("./fonts/ACarlsonPro-Regular.otf"); }

body {
  margin: 0;
  padding: 0;
  font-family: springville; }

p {
  margin: 0;
  padding: 0; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  width: 100%;
  height: 120px;
  padding-right: 144px;
  z-index: 101; }
  .header.mobile {
    height: 50px; }

.header-text {
  vertical-align: middle;
  line-height: 120px;
  display: inline;
  float: right;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #767676;
  margin-right: 1.4em; }
  .header-text.mobile {
    line-height: 50px; }
  .header-text.last {
    margin-right: 144px; }
    .header-text.last.mobile {
      margin-right: 60px; }

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.header-hamburger {
  vertical-align: middle;
  float: right;
  margin-top: 52px; }
  .header-hamburger.last {
    margin-right: 144px; }
    .header-hamburger.last.mobile {
      margin-right: 60px; }

.logo {
  margin-left: 144px;
  display: inline-block;
  vertical-align: middle; }
  .logo.mobile {
    margin-left: 60px; }

.carousel-container {
  width: 1440px;
  overflow: hidden;
  height: 580px;
  margin-top: 120px;
  cursor: pointer;
  margin-left: calc(50% - 720px); }
  .carousel-container.mobile {
    margin-top: 50px; }

.carousel {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative; }
  .carousel.not-4by3 {
    width: 4320px;
    height: 580px; }
  .carousel.no-transitions {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }

.carousel-item {
  width: 1440px;
  height: 580px;
  top: 0px;
  display: inline-block;
  position: absolute;
  background: red; }
  .carousel-item.not-4by3 {
    width: 1440px;
    height: 580px; }
  .carousel-item img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99; }
  .carousel-item .darkener {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 215px;
    width: 1440px;
    height: 580px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5); }
  .carousel-item .text {
    color: #ffffff;
    font-size: 4em;
    z-index: 101; }

.dots-container {
  height: 80px;
  text-align: center; }

.dot {
  height: 10px;
  width: 10px;
  background: #efefef;
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px; }
  .dot.dark {
    background: #e1e1e1; }

.masonry-grid-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
  display: flex; }

.masonry-grid-column {
  margin: 2.5%; }

.masonry-grid-item {
  margin: 5%;
  padding-bottom: 20%;
  margin-bottom: 20%;
  border-bottom: 1px solid #dbdbdb; }
  .masonry-grid-item img {
    margin-bottom: 10%; }

.masonry-grid-item-date {
  font-family: sans-serif;
  font-size: 0.7em;
  color: #767676; }

.masonry-grid-item-title {
  margin-top: 10%;
  font-size: 3em; }
  .masonry-grid-item-title:hover {
    cursor: pointer; }
    .masonry-grid-item-title:hover span {
      border-bottom: 2px solid #000; }

.masonry-grid-item-presenter-container {
  margin-top: 1em;
  font-size: 0.8em; }

.masonry-grid-item-presenter {
  color: #2e2e2e;
  padding-bottom: 1px;
  border-bottom: 1px solid #000; }

.footer {
  text-align: center;
  padding-bottom: 70px;
  margin-top: 100px; }
  .footer .text {
    font-family: sans-serif;
    font-size: 0.7em; }
  .footer span {
    text-decoration: underline; }
